/* global styles */

body {
    background-color: lightgray;
    box-sizing: border-box;
}

hr {
    width: 50%;
    background-color: darkslategrey;
}

p, ul, ol {
    font-size: 20px;
}

h3 {
    font-size: 24px;
}

a {
    text-decoration: none;
}

a:link {
    color: whitesmoke;
}

a:visited {
    color: purple;
}

a:hover {
    color: lightskyblue;
}

a:active {
    color: lime;
}


/* header styles */

header {
    background-color: #0B4F62;
    padding-top: 25px;
    padding-bottom: 5px;
    color: rgb(44, 29, 29);
}

header h1, header h2 {
    text-align: center;
}

header h1 {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: 'Lemonada', cursive;
    font-size: 48px;
}

header h2 {
    margin-top: 3px;
    margin-bottom: 25px;
    font-size: 20px;
}

header nav {
    display: flex;
    justify-content: space-around;
}

header nav a {
    font-size: 18px;
}

/* Intro section */

.intro-section {
    display: flex;
    padding: 25px;
    justify-content: center;
}

.intro-text {
    margin: auto;
    margin-top: 18px;
    margin-bottom: 20px;
}

.image {
    margin: auto;
}

.headshot {
    width: 250px;
    height: 350px;
    border-radius: 50%;
}

/* About me section */

.about {
    text-align: center;
    padding: 25px;
}

.about-text {
    margin: auto;
    width: 500px;
}

/* contact section */

.contact {
    text-align: center;
    padding: 25px;
}

ol {
    margin-left: 45%;
}

ol li {
    width: 25px;
}

/* footer */

footer {
    background-color: #0B4F62;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 30px;
    font-size: 16px;
}